# for API requests 

requests

# for testing 

pytest

# for image display 

ipython

# for OpenAI

openai

# for secret credentials

dotenv

# packages for app:

flask

# packages used for the production server 

gunicorn