<!DOCTYPE html>
    <html>
        <head>
            <title>Welcome to our book search tool! </title>
        </head>
        <body style="background-color:rgb(206, 206, 217)">
            <h1>Search for a New York Times bestseller</h1>
            <p>Choose your genre below to get the latest New York Times bestsellers. Powered by the New York Times Book API!</p>

            <form action="/results" method="POST">
                <label for="genre">Choose your genre:</label>
                <select name="genre">
                    <option value="Combined Print & E-Book Fiction">Combined Print & E-Book Fiction</option>
                    <option value="Combined Print & E-Book Nonfiction">Combined Print & E-Book Nonfiction</option>
                    <option value="Hardcover Fiction">Hardcover Fiction</option>
                    <option value="Hardcover Nonfiction">Hardcover Nonfiction</option>
                    <option value="Paperback Trade Fiction">Paperback Trade Fiction</option>
                    <option value="Paperback Nonfiction">Paperback Nonfiction</option>
                    <option value="Advice, How-To & Miscellaneous">Advice, How-To & Miscellaneous</option>
                    <option value="Children’s Middle Grade Hardcover">Children’s Middle Grade Hardcover</option>
                    <option value="Children’s Picture Books">Children’s Picture Books</option>
                    <option value="Children’s & Young Adult Series">Children’s & Young Adult Series</option>
                    <option value="Young Adult Hardcover">Young Adult Hardcover</option>
                    <option value="Audio Fiction">Audio Fiction</option>
                    <option value="Audio Nonfiction">Audio Nonfiction</option>
                    <option value="Business">Business</option>
                    <option value="Graphic Books and Manga">Graphic Books and Manga</option>
                    <option value="Mass Market">Mass Market</option>
                    <option value="Middle Grade Paperback">Middle Grade Paperback</option>
                    <option value="Young Adult Paperback">Young Adult Paperback</option>
                </select>

                <button type="submit" style="color: brown"><b>Submit</b></button>
            </form>
            <br>
            <br>
            <a href="/reviews">
            <button>Get book reviews by chatGPT</button>
            </a>

        </body>
    </html>