<!DOCTYPE html>
    <html>
        <head>
            <title>Get a book summary via chatGPT! </title>
        </head>
        <body>
            <h1>Input a book title and author to get a summary of reviews via chatGPT</h1>

            <form action="/results2" method="POST">
                <label for="book_title">Enter your book</label>
                <input type="text" id="book_title" name="book_title">
                <label for="book_author">Enter your author</label> 
                <input type="text" id="book_author" name="book_author">
                <button type="submit">Submit</button>
            </form>

            <br>
            <br>
            <a href="/">
            <button>Go to Home Page</button>
            </a>
        </body>
    </html>